/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* common css style */
body{
    
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* nav menu style */

.menu{
    display: flex;
    justify-content: space-between;
    padding: 40px  156px 10px 0px;
    position: relative;
    left: 70px;

}
.menu h1{

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;

}

/* nav menu style end */


/* header setion start */

.header-section{
    background-color:#ffffff;
    padding: 0px 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.header-info {
    position: relative;
    left: 70px;
     
}

.header-img{

    padding-right: 70px;
    padding-left: 80px;
}

.header-img img{
    
    width: 475px;
    height: 475px;

}

#img-1{
    opacity: 0.55;
    display: block;
}

#img-2{
    position: absolute;
    top: 200px;
    transition: 2s;
    height: 400px;
    width: 450px;
}

.header-info h1{
    font-size: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    line-height: 60px;
    color: #3A3A3A;
    padding-bottom: 10px;
    
}

.header-info p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #3A3A3A;
    line-height: 20px;
    margin-bottom: 40px;
}

.btn{
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    border: none;
    transition: 2s;
}

.btn a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    transition: 1s;

}
.fa-arrow-right{
    margin-left: 10px;
}

/* hover effect */

.header-section:hover #img-2 {
    transform:scale(1.16);
}

/* header setion end */


/* ----------------popular-collection-section-------------- */
.section-title h1 {
    text-align: center;
    font-size: 28px;
    padding-bottom: 30px;
}

.collection-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px 60px;
}

.collection {
    padding: 10px 15px;
    transition: .5s;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

.collection:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.collection .collection-banner img {
    width: 100%;
}

.collection-details p {
    margin: 0;
}

.fa-star {
    color: rgba(128, 128, 128, 0.562);
}

.fillup {
    color: orange;
}

.review {
    display: flex;
    align-items: center;
}

.review i {
    font-size: 12px;
}

.review span {
    color: var(--main-color);
    margin-left: 10px;
}

.see-more-btn a {
    float: right;
    margin-right: 70px;
    color: var(--main-color);
    text-decoration: none;
    transition: .5s;
    color: #E02C6DDE;
}

.see-more-btn a:hover {
    transform: scale(1.1);
}

/* ----------------popular-collection-section end-------------- */

/* extra section */
  

.contact-section{
    background-color: #ffffff;
    background-size: cover;
    padding: 40px 0;
    margin-bottom: 100px;
  }
  .contact-section h1{
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    background: #E02C6D;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: #2980b9;
  }
     
/* extra section end */

/* ----------------footer-section style-------------- */
.footer {
    background-color: #0A0826;
    text-align: center;
    color: white;
}

.footer-details {
    padding: 30px 0px;
}

.footer-details h2,
p,
h5 {
    margin: 0;
}

.footer-details p,
h5 {
    color: #FFFFFF;
}

.media-icon {
    margin-top: 15px;
}

.media-icon i {
    font-size: 25px;
    padding: 0 10px;
    transition: .5s;
    color: #FFFFFF;
}

.media-icon i:hover {
    cursor: pointer;
    color: #FFFFFF;
}

/*---------------Responsive Styles For Mobile--------------*/

@media screen and (max-width : 576px) {
    .container {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    /* nav-bar media queries */
   
    .menus{

        width: 100%;
    
        margin: 0 auto;
        margin-bottom: 50px;
    }

    /* header-section media queries */

    .header-section {
        flex-direction: column;
        padding: 0px 50px;
    }

    .header-info {
        padding-right: 0px;
        order: 2;
        margin-left: 0px;
    }

    .header-info h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .header-info p {
        font-size: 15px;
    }

    .header-img {
        order: 1;
    }

    .header-img img {
        width: 100%;
    }
    #img-2 {
        
        padding-bottom: 100px;
        height: 400px;
    width: 420px;
    }

    

    /* popular-collection-section media queries */
    .collection-main {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 5px 15px;
    }
    
}


/*Responsive Styles For Tablet*/

@media screen and (min-width: 577px) and (max-width:768px) {
    .menu {
        padding: 0 15px;
    }
    .header-section {
        flex-direction: column;
        padding: 0px 20px;
    }
   
    

    .header-info {
        padding-right: 0px;
        margin-left: 30px;
        order: 2;
    }
    .header-img {
        order: 1;
        margin-top: 80px;
    }
    #img-2 {
        
        padding-bottom: 100px;
        height: 400px;
    width: 420px;
    }
    
    .collection-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    
}

